<h1 class=" mt-5 text-center">Donc vous souhaitez connaître notre entreprise ?</h1>

<div class="container ">
    <div class="row m-5">
        <div class="col-lg-5">
            <img src="assets/about.png" width="600" height="600" class=" img-fluid float-left">
        </div>
        <div class="col-lg-7">
            <section class="mt-5">
                <h1>Qui Sommes nous?</h1>
                <p>INTELLIGENT SECURITY IT est un cabinet indépendant spécialisé dans la sécurité de l'information. Composé de consultants ayant plusieurs décennies d’expérience dans le domaine de la sécurité de l’information et du savoir faire pour soutenir
                    les organisations dans la transformation de leur stratégie de sécurité d’information en leur offrant les services convenables en plus des différentes formations en domaine de la sécurité de l’information convenables au marché</p>
            </section>
        </div>
    </div>
</div>

<div class="container-fluid d-flex flex-wrap justify-content-center ">
    <div class="col-lg-8 TEMOIGNAGES">
        <h2 class="text-center">
            TEMOIGNAGES
        </h2>
        <p class="text-center">Soutenir les organisations dans la transformation de leur stratégie en matière de sécurité de l’information est notre priorité tout en accompagnant le changement de gouvernance.</p>
    </div>
    <div class=" col-lg-4 anis ">
        <img class="img-fluid " width="300 " src="../../../../../assets/anis_gharbi.jpg ">
        <h3 class="text-center">Anis Gharbi</h3>

    </div>
</div>

<div class="container-fluid ">
    <div class="m-5 ">
        <h2 class=" ">
            Les entreprises qui reussissent savent que la securite des donnees, les applications et l'infrastructure sont l'un des piliers de leur succes.
        </h2>
        <p>
            INTELLIGENT SECURITY IT est un cabinet indépendant spécialisé dans la sécurité de l'information. Composé de consultants ayant plusieurs décennies d'expérience dans le domaine de la sécurité de l'information et du savoir-faire dans les domaines suivants:
        </p>
        <ul>
            <li> <i class="bi bi-hexagon-fill "></i> Gestion des risques des systèmes d'information: normes Mehari, Ebios et ISO 27005</li>
            <li> <i class="bi bi-hexagon-fill "></i> Systèmes de gestion de la sécurité basés sur la certification ISO 27001 et ISO 27001</li>
            <li> <i class="bi bi-hexagon-fill "></i> Politiques et procédures de sécurité autour des chapitres de l'ISO 27001/27002</li>
            <li> <i class="bi bi-hexagon-fill "></i> Accès à la sécurité et à la gestion des identités</li>
            <li> <i class="bi bi-hexagon-fill "></i> Plan de continuité des activités: PCA, PRA, PSI</li>
            <li> <i class="bi bi-hexagon-fill "></i> Sécurité physique d'actifs, architectures et solutions de haute disponibilité,...</li>
        </ul>
        <p>En raison du changement technologique rapide, de la pression accrue du marché et de la sophistication croissante du piratage informatique, les organisations informatiques doivent se concentrer sur la défense et la création proactives au-delà de
            la simple conformité. Les responsables informatiques doivent donc trouver un équilibre subtil entre la limitation des risques et la stimulation de la croissance. En effet, une erreur d'arbitrage peut rendre l'entreprise vulnérable ou incapable
            de démontrer la réactivité requise pour rester compétitif sur le marché mondial.</p>
        <p>Les spécialistes de la sécurité informatique d'INTELLIGENT SECURITY IT capitalisent sur des décennies d'expérience, une solide connaissance de l'industrie et une expertise en processus métier pour aider les entreprises à adopter une approche concrète
            et flexible pour se protéger contre les menaces, limiter les risques et adopter les nouvelles technologies nécessaires à leur croissance. La mise en œuvre de solutions de sécurité complètes permet aux organisations :</p>
        <ul>
            <li> <i class="bi bi-hexagon-fill "></i> Augmenter la valeur pour les actionnaires, réduire les risques, les coûts et la complexité</li>
            <li> <i class="bi bi-hexagon-fill "></i> Objectifs de conformité</li>
            <li> <i class="bi bi-hexagon-fill "></i> Augmenter la productivité et la croissance des entreprises</li>
            <li> <i class="bi bi-hexagon-fill "></i> Augmenter la confiance des clients en protégeant les informations et les systèmes contre diverses menaces et divers risques de piraterie informatique.</li>

        </ul>
    </div>

</div>
