<section>

    <div class="container">
        <div class="title">Postuler</div>
        <div class="content">
            <form [formGroup]="condidature" (ngSubmit)="add()">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nom</span>
                        <input type="text" name="name" placeholder="Entrez votre nom" formControlName="name" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" name="email" placeholder="Entrez votre email" formControlName="email" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Tel</span>
                        <input type="text" name="tel" placeholder="Entrez votre telephone" formControlName="tel" required>
                    </div>
                    <div class="input-box2">
                        <span class="details">Cv : </span>
                        <input type="file" id="file " name="cv" (change)="onFileSelected($event)" accept=".pdf,.jpg,.jpeg" required>
                    </div>
                    <main class="done" *ngIf="verif==1">
                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                            <span class="swal2-success-line-tip"></span>
                            <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div>
                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                        </div>
                        <p class="text-center">Condidiature envoyée</p>
                    </main>
                    <main class="done" *ngIf="verif==2">
                        <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span>
                        </div>
                        <p class="text-center">Échec</p>
                    </main>
                </div>

                <button type="submit" class="btn" [disabled]="condidature.invalid"><span>Envoyer</span></button>
                <div>
                    <div class=" alert alert-danger " role="alert " *ngIf="name.touched && name.hasError('required')">
                        Entrez votre nom
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="email.touched && email.hasError('required')">
                        Entrez Votre Email
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf=" email.hasError('email')">
                        Email invalide
                    </div>
                    <div class=" alert alert-danger " role="alert " *ngIf="tel.touched && tel.hasError('required')">
                        Entrez votre numéro de télephone
                    </div>
                    <div class=" alert alert-danger " role="alert " *ngIf="tel.touched && tel.hasError('pattern')">
                        Numéro invalide
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
