.login-block {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.btn {
    background: linear-gradient(90deg, rgba(0, 196, 255, 1) 0%, rgba(0, 115, 191, 1) 100%);
    color: white;
    border: none;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #0073BF;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #0073BF;
    ;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #0073BF;
    ;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}
