* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
    margin-top: 20px;
}

.image-section img {
    width: 80%;
    height: auto;
}

h1 {
    text-align: center;
    font: 2.3rem 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #0073BF;
}

.content-section .content h2 {
    margin-top: 20px;
    color: #0073bf;
    font-size: 28px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background: linear-gradient(90deg, rgba(0, 196, 255, 1) 0%, rgba(0, 115, 191, 1) 100%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 40px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    transition: .5s ease-in-out;
    background: #0073BF;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section {
        float: none;
        width: 100%;
    }
    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .title {
        text-align: center;
        font-size: 19px;
        margin-bottom: 40px;
    }
    .content-section .content .button {
        text-align: center;
    }
    .content-section .content .button a {
        padding: 9px 30px;
    }
}


/*
h1 {
    font: 2.5rem 'Roboto', sans-serif;
    font-weight: bold;
    color: #0073BF;
}

.container {
    margin-top: 5rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
}

section {
    max-width: 600px;
}

.btn {
    background: linear-gradient(90deg, rgba(0, 196, 255, 1) 0%, rgba(0, 115, 191, 1) 100%);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px;
    width: 10em;
    margin-left: 10em;
}

.btn:hover {
    transition: .5s ease-in-out;
    background: #0073BF;
    transform: scale(1.05);
}

.btn span {
    color: white;
}

img {
    max-width: 400px;
}

@media (max-width: 820px) {
    .container {
        margin-top: 0;
        padding-top: 0;
    }
    img {
        width: 250px;
        margin-left: 100px;
    }
    .btn {
        margin-left: 120px;
    }
}
*/
