<div class="section">
    <div class="container  col-lg-12" id="about">
        <div class="title text-center">
            <h1>A propos</h1>
        </div>
        <div class="content-section">
            <div class="content">
                <h2>Qui Sommes nous?</h2>
                <p>INTELLIGENT SECURITY IT est un cabinet indépendant spécialisé dans la sécurité de l'information. Composé de consultants ayant plusieurs décennies d’expérience dans le domaine de la sécurité de l’information et du savoir faire pour soutenir
                    les organisations dans la transformation de leur stratégie de sécurité d’information en leur offrant les services convenables en plus des différentes formations en domaine de la sécurité de l’information convenables au marché</p>

                <a class="btn" href="/About">Voir plus</a>

            </div>

        </div>
        <div class="image-section">
            <img src="assets/about.png">
        </div>
    </div>
</div>
