* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    width: 80%;
    display: block;
    margin-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.title {
    margin-right: 140px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
    margin-top: 20px;
}

.image-section img {
    width: 80%;
    height: auto;
}

h1 {
    text-align: center;
    font: 2.3rem 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #0073BF;
}

.content-section .content h2 {
    margin-top: 20px;
    color: #0073bf;
    font-size: 28px;
}

.content-section .content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    --color: #0073BF;
    text-align: center;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    margin: 20px;
    padding: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 16px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--color);
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn:hover {
    color: #fff;
}

.btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn:hover:before {
    top: -30px;
    left: -30px;
}

.btn:active:before {
    background: #0073BF;
    transition: background 0s;
}

.content-section .content .button {
    margin-top: 30px;
}


/*
.content-section .content .button a {
    background: linear-gradient(90deg, rgba(0, 196, 255, 1) 0%, rgba(0, 115, 191, 1) 100%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 40px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    transition: .5s ease-in-out;
    background: #0073BF;
    transform: scale(1.05);
} */

@media screen and (max-width: 768px) {
    div {
        margin-top: -80px;
    }
    div .title h1 {
        font-size: 24px;
        margin-left: 100px;
        margin-right: -40px;
    }
    .content-section .content h2 {
        margin-top: 18px;
        color: #0073bf;
        font-size: 20px;
    }
    .content-section .content p {
        font-size: 16px;
    }
    /* .content-section .content .button a {
        background: linear-gradient(90deg, rgba(0, 196, 255, 1) 0%, rgba(0, 115, 191, 1) 100%);
        color: white;
        border: none;
        border-radius: 10px;
        padding: 12px 40px;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1.5px;
    } */
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section {
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section {
        float: center;
        width: 100%;
    }
    .image-section img {
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .content-section .title {
        text-align: center;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .content-section .content .button {
        text-align: center;
    }
    .content-section .content .button a {
        padding: 9px 30px;
    }
}
