<div class="grid m-5">
    <ul id="hexGrid">
        <li class="hex" *ngFor="let e of cat | paginate: { itemsPerPage: 9, currentPage: p }">
            <div class="hexIn">
                <a class="hexLink" href="/Formation/{{e._id}}">

                    <div class='img d-flex justify-content-center'>
                        <img src="{{e.Image}}" class="img" alt="">
                    </div>
                    <h1 id="demo1">{{e.name}}</h1>

                </a>
            </div>
        </li>
    </ul>
    <ngb-pagination class="d-flex justify-content-center mt-5" [(page)]="p" [pageSize]="9" [collectionSize]="cat?.length"></ngb-pagination>
</div>
