<h1 class="text-dark text-center">Services</h1>
<div class="card shadow mb-4">
    <div class="card-body">
        <a style="float: right;" class="add" routerLink="AjoutService">
            <i class="bi bi-plus-square-fill me-2"></i>
        </a>
        <div class="container-fluid d-inline-flex flex-wrap justify-content-center">
            <ul class="col-lg-4" *ngFor="let s of Services;index as i">
                <div class="hexagon mb-4">
                    <li class="hex shadow-lg">
                        <div class=" hex-background">
                            <img src={{s.Image}}>
                        </div>
                    </li>
                    <div class="contenu">
                        <h1>
                            {{s.name}}
                        </h1>
                        <div class="container d-flex justify-content-center actions">
                            <a routerLink="edit/{{s._id}}" class="me-2">
                                <i class="fas fa-pen edit"></i>
                            </a>
                            <a (click)="delete(s._id,i)" class="ms-2">
                                <i class="fas fa-trash delete"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
