<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Bienvenue Admin</h2>
                <form class="login-form" #admin="ngForm" (ngSubmit)="loginadmin(admin)">
                    <div class="form-group">
                        <label for="exampleInputIdentifiant1" class="text-uppercase">Identifiant</label>
                        <input type="text" class="form-control" name="Identifiant" #Identifiant="ngModel" ngModel required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Mot de passe </label>
                        <input type="password" class="form-control" name="password" #password="ngModel" ngModel required>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" [disabled]="admin.invalid" class="btn btn-login width100">Se Connecter</button>
                    </div>
                </form>

            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
