<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <section>
                    <div class="line"></div>
                    <h1>Mot du foundateur</h1>
                    <p>INTELLIGENT SECURITY IT est un cabinet indépendant spécialisé dans la sécurité de l'information. Composé de consultants ayant plusieurs décennies d'expérience dans le domaine de la sécurité de l'information.</p>
                </section>
            </div>
            <div class="col-lg-4">
                <div class="hex">
                    <div class="hex-background">
                        <img src="../../../../../assets/anis_gharbi.jpg" width="400" height="350" class=" img-fluid float-left ">
                    </div>
                </div>
                <h2 class="text-center mt-2">Anis Gharbi</h2>
            </div>
        </div>
    </div>
</main>
