.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    color: black;
}

.plce {
    margin-left: 85px;
}

.dropdown-content {
    display: none;
    margin-left: 20px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    font: 1rem 'Roboto', sans-serif;
    z-index: 1000;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-item {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav-item>a {
    line-height: 3rem;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    cursor: pointer;
    z-index: 1000;
}

.nav-item>a.active {
    color: #0073BF;
    transform: scale(1.1);
}

.nav-item:after {
    content: "";
    position: absolute;
    background-color: #0073BF;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -1px;
    border-radius: 8px;
    transition: .5s;
}

.nav-item:hover>a {
    transform: scale(1.1);
    color: #0073BF;
}

.nav-item:hover:after {
    width: 100%;
}

.nav-item>.dropdown {
    position: absolute;
    position: relative;
    top: 100%;
    left: 0;
    width: 10rem;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu a {
    padding: 8px 12px;
    text-decoration: none;
}

.fixed {
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
}

.nofixed {
    position: static;
    background: transparent;
    transition: 0.2s linear;
    top: -50px;
}

.btn {
    --color: #0073BF;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--color);
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn:hover {
    color: #fff;
}

.btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn:hover:before {
    top: -30px;
    left: -30px;
}

.btn:active:before {
    background: #0073BF;
    transition: background 0s;
}

.footer {
    display: flex;
    padding: 30px;
    bottom: 0;
    color: #fff;
    background-color: #1A374D;
    font-family: 'Roboto', sans-serif;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 600;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #dddddd;
}

.h-box {
    column-count: 1;
    column-gap: 1em;
}

.b-footer {
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.l-footer p {
    color: #dddddd;
}

@media screen and (max-width: 768px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 1;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex-flow: row wrap;
        flex: 1 0px;
    }
    .plce {
        margin-left: -20px;
    }
    .btn {
        margin-left: 50px;
    }
}

@media screen and (min-width: 768px) {
    .btn {
        float: right;
    }
}
