<h1 class="text-center"> Tous les postes</h1>
<a class="btn btn-primary float-end" routerLink="/admin/Posts/ajout">Ajouter</a>
<div class="blog-card" *ngFor="let e of posts ;index as i">
    <div class="meta">
        <div class="photo" style="background-image: url({{e.Images[0]}})"></div>
    </div>
    <div class="description">
        <h1>{{e.name}}</h1>
        <p> {{e.Description}}</p>
        <p class="read-more">
            <a data-bs-toggle="modal" (click)="getdata(e.name,e.Images,e.Description,e._id)" data-bs-target="#staticBackdrop">Voir plus</a>
        </p>
    </div>
    <button class="btn btn-danger" (click)="delete(e._id,i)">Supprimer</button>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- form update start here -->
                <form #f="ngForm" (ngSubmit)="updatepost(f)">



                    <!-- lastName validation end here -->

                    <!-- lastName validation start here -->
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nom du post</label>
                        <input type="text" class="form-control" placeholder="Nom du l'Offre" [(ngModel)]="dataPost.name" required name="name" #name="ngModel" minlength="2" maxlength="20" ngModel>
                    </div>

                    <div class="alert alert-danger" *ngIf="name.errors?.['required'] && name.touched">
                        Nom Obligatoire
                    </div>
                    <div class="alert alert-danger" *ngIf="name.errors?.['minlength'] && name.touched">
                        Le nom est trés court
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1"> Description</label>
                        <textarea type="number" class="form-control" placeholder=" Description du l'offre" [(ngModel)]="dataPost.Description" required name="Description" #Description="ngModel" ngModel></textarea>
                    </div>

                    <div class="alert alert-danger" *ngIf="Description.errors?.['required'] && Description.touched">
                        Description est Obligatoire
                    </div>

                    <div class="form-group">
                        <input type="file" multiple (change)="selectImages($event)" accept="image/*" class="form-control m-2" required>
                        <div class="d-flex flex-wrap">
                            <div *ngFor="let img of dataPost.Images ; index as i">
                                <img class="rounded m-2" [src]="img" alt="Erreur" height="200" width="200">
                            </div>
                        </div>
                    </div>


                    <button class="btn btn-primary float-end" type="submit" [disabled]="f.invalid">Modifier</button>
                </form>



                <!-- form update end here -->
            </div>

        </div>
    </div>
</div>
