<div class="container">
    <h1 class="text-center"> Tous les postes</h1>
    <a class="btn btn-primary float-end mb-2" routerLink="/admin/Posts/ajout"><i class="fas fa-plus"></i></a>
    <div class="blog-card" *ngFor="let e of posts | paginate: { itemsPerPage: 5, currentPage: p };index as i">
        <div class="meta">
            <div class="photo" style="background-image: url({{e.Images[0]}})"></div>
        </div>
        <div class="description">
            <a class="delete" (click)="delete(e._id,i)"> <i class="fas fa-trash"></i></a>
            <h1>{{e.name}}</h1>
            <p> {{e.Description}}</p>

            <p class="read-more">
                <a data-bs-toggle="modal" (click)="getdata(e.name,e.Images,e.Description,e._id)" data-bs-target="#staticBackdrop">Voir plus</a>

            </p>

        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="p" [pageSize]="5" [collectionSize]="posts?.length"></ngb-pagination>







    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap ms-3">
                        <div class="col-lg-6">
                            <div class="">
                                <div class="">
                                    <div class="m-4">
                                        <img class="active" [src]="imageUrl" width="400" height="300">
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <img *ngFor="let e of dataPost.Images" class="m-2 col-lg-2" #imgselected (click)="changeImage(imgselected)" src="{{e}}" height="100" width="100">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="m-3 ms-5 description col-lg-4">
                            <h1>{{dataPost.name}}</h1>
                            <p>{{dataPost.Description}}</p>
                            <div class="comments p-2 rounded">
                                <div *ngIf="Comments.length>0">
                                    <p>Commentaires</p>
                                    <div *ngFor="let comm of Comments  ">
                                        <div class="d-flex mb-2 bg-light m-1 p-1 rounded">
                                            <img class="rounded" height="40" width="40" src="{{comm.user.avatar}}">
                                            <div class="ms-2">
                                                <span class="name">{{comm.user.fname+' '+comm.user.lname}}</span>
                                                <br> {{comm.commentaire}}
                                            </div>
                                            <a class="delete float-end"> <i class="fas fa-trash"></i> </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>