<div class="container-fluid">
    <section class="row">
        <div class="col-lg-6 mt-5 ps-5">
            <div class="line"></div>
            <h1>{{dataService.name}}</h1>
            <p>{{dataService.Description}}</p>

        </div>
        <div class="col-lg-6  align-self-center">
            <img class="img-fluid" src={{dataService.Image}}>
        </div>
    </section>
    <div class="m-5">
        <div *ngFor="let e of tab ">
            <h2>{{e.title}}</h2>
            <p>{{e.text}}</p>
        </div>

    </div>
</div>
