<section class="row">
    <div class="col-6" id="desc">
        <div class="line"></div>
        <h1>{{dataService.name}}</h1>
        <p>{{dataService.Description}}</p>
        <button class="btn btn-rounded home">Postuler</button>
    </div>
    <div class="col-6">
        <img src={{dataService.Image}}>
    </div>
</section>
<div class="m-5">
    <div>
        <h2>{{dataService.Titre1}}</h2>
        <p>{{dataService.Text1}}</p>
    </div>
    <div>
        <h2>{{dataService.Titre2}}</h2>
        <p>{{dataService.Text2}}</p>
    </div>
    <div>
        <h2>{{dataService.Titre3}}</h2>
        <p>{{dataService.Text3}}</p>
    </div>
</div>