<div class="container-fluid">
    <div class="card shadow-lg m-5">

        <form [formGroup]="register" (ngSubmit)="add()">

            <div class="card-body m-3">
                <h1 class="text-center">Creez un compte</h1>
                <div class="d-flex justify-content-around">
                    <div class="col-lg-4 m-3">

                        <label for="exampleInputname" class="form-label">Prénom </label>
                        <input type="text" class="form-control" name="name" formControlName="fname" required>
                    </div>



                    <div class="col-lg-4 m-3">
                        <label for="exampleInputname" class="form-label">Nom </label>
                        <input type="text" class="form-control" name="lname" formControlName="lname" required>
                    </div>

                </div>

                <div class="d-flex justify-content-around">
                    <div class="col-lg-4 m-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" formControlName="email" required>
                    </div>


                    <div class="col-lg-4 m-3">
                        <label for="exampleInputname" class="form-label">Mot de passe </label>
                        <input type="password" class="form-control" name="password" formControlName="password" required>
                    </div>


                </div>

                <div class="d-flex justify-content-around">

                    <div class="col-lg-4 m-3">
                        <label for="exampleInputname" class="form-label">Télephone </label>
                        <input type="text" class="form-control" name="phonenum" formControlName="phonenum" required>
                    </div>



                    <div class="col-lg-4 m-3">
                        <label for="exampleInputname" class="form-label">Date de naissance </label>
                        <input type="date" class="form-control" name="birthdate" id="exampleInputname" formControlName="birthdate" required>
                    </div>

                </div>

                <div class="d-flex justify-content-around">
                    <img *ngIf="img" class="col-lg-4 img-round" src="{{img}}" height="200" width="200">
                    <div class="col-lg-4 m-5">
                        <label for="formFile" class="form-label">Photo du profile : </label>
                        <input class="form-control" type="file" id="file " name="avatar" (change)="onFileSelected($event)" formControlName="avatar" accept=".jpg,.jpeg,.png">
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class=" alert alert-danger " role="alert " *ngIf="lname.touched && lname.hasError('required')">
                    Entrez votre nom
                </div>
                <div class=" alert alert-danger " role="alert " *ngIf="fname.touched && fname.hasError('required')">
                    Entrez votre Prénom
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="email.touched && email.hasError('required')">
                    Entrez Votre Email
                </div>
                <div class="alert alert-danger" role="alert" *ngIf=" email.hasError('email')">
                    Email invalide
                </div>
                <div class=" alert alert-danger " role="alert " *ngIf="password.touched && password.hasError('required')">
                    Mot de passe
                </div>
                <div class=" alert alert-danger " role="alert " *ngIf="birthdate.touched && birthdate.hasError('required')">
                    Date de naissance obligatoire
                </div>
                <div class=" alert alert-danger " role="alert " *ngIf="phonenum.touched && phonenum.hasError('required')">
                    Entrez votre numéro de télephone
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="phonenum.touched && phonenum.hasError('minlength') && phonenum.hasError('maxlength') ">
                    Numéro invalide
                </div>
                <div class=" alert alert-danger " role="alert " *ngIf="phonenum.touched && phonenum.hasError('pattern')">
                    Numéro invalide
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary " [disabled]="register.invalid"><span>Creez</span></button>
            </div>




        </form>
    </div>
</div>
