<h1 class=" text-center m-4">
    {{name}}</h1>
<div class="card shadow mb-4">

    <div *ngIf="cat.length===0">
        <h2 class="pas-formation text-center">pas de formations dans cette catégorie </h2>
    </div>

    <div class="card-body">
        <a style="float: right;" class="add" routerLink="AjoutFormation">
            <i class="bi bi-plus-square-fill mt-3"></i>
        </a>
        <div class="container-fluid d-flex flex-wrap justify-content-center align-content-center">
            <div class="card mt-5 m-2" *ngFor="let e of cat | paginate: { itemsPerPage: 6, currentPage: p } ; index as i" style="width: 18rem;">


                <img src="{{e.Image}}" height="200" width="200" class="card-img-top" alt="...">

                <div class="card-body">
                    <h2 class="card-title text-center">{{e.name}}</h2>
                    <div class="container d-flex justify-content-center actions">
                        <a routerLink=" edit/{{e._id}} " class="me-2"><i class="fas fa-pen "></i> </a>
                        <a (click)="delete(e._id,i)" class="ms-2"><i class="fas fa-trash "></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center " [(page)]="p " [pageSize]="6 " [collectionSize]="cat.length "></ngb-pagination>

</div>
