<footer class="footer">
    <div class="l-footer">
        <h1>
            <img src="logo.png" alt=""></h1>
        <p>-Soutien dans les projets stratégiques de votre système d'information.</p>
        <p>-Analysez votre système en profondeur.</p>
        <p> -Conformité aux bonnes pratiques de sécurité.</p>
        <p> -Construire un système de gestion, Contrôler les risques.</p>
    </div>
    <ul class="r-footer">
        <li>
            <h2>
                Liens</h2>
            <ul class="box">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Formations</a></li>
                <li><a href="#">Condidature</a></li>
                <li><a href="#">Contact</a></li>


            </ul>
            <li class="features">
                <h2>
                    Services</h2>
                <ul class="box h-box">
                    <li><a href="#">Facebook</a></li>


                </ul>
            </li>
            <li>
                <h2>
                    Formation</h2>
                <ul class="box">
                    <li><a href="#">Privacy Policy</a></li>

                </ul>
            </li>

    </ul>
</footer>
