<main id="services">
    <h1 class="title m-5 ">Nos Services</h1>
    <div class="container-fluid d-inline-flex flex-wrap justify-content-center">
        <ul class="col-lg-4" *ngFor="let s of Services">
            <div class="hexagon">
                <li class="hex shadow-lg">
                    <div class=" hex-background">
                        <img src={{s.Image}}>
                    </div>
                </li>
                <div class="contenu">
                    <h1>
                        {{s.name}}
                    </h1>
                    <p>
                        {{s.Description}}
                    </p>
                </div>
            </div>
        </ul>
    </div>
</main>
