<div class="container">
    <div class="card shadow">
        <div class="card-header text-center">
            <h2 class="text-primary"> Tous les Formations </h2>
        </div>
        <div class="card-body">
            <div class="table table-responsive">
                <table class="table " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>

                            <th scope="col">Email</th>

                            <th scope="col">Téléphone</th>
                            <th scope="col">CV</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of dataoffre.Condidats ; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{e.name}}</td>
                            <td>{{e.email}}</td>
                            <td>{{e.tel}}</td>
                            <td><a class="btn btn-primary" href="{{e.cv}}"> Voir </a></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
