<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#home">
    <i class="fas fa-angle-up"></i>
</a>
<main class="container-fluid" id="home">

    <div class="col-12">
        <video autoplay muted loop width="100%">

        <source src="../../../../../assets/hexabackground.webm"
                type="video/webm">
      </video>

    </div>
    <section>


        <h1 class="smooth-type">Welcome to Intelligent security IT</h1>
        <h2 class="smooth-type">Your Security ,<span>Our Priority</span></h2>



    </section>

</main>




<app-about></app-about>
<app-services></app-services>
<app-category></app-category>
<app-motfoundateur></app-motfoundateur>
<app-contact></app-contact>
