<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#home">
    <i class="fas fa-angle-up"></i>
</a>
<main class="full-container" id="home">
    <div class="col-lg-12 pb-2">
        <video autoplay muted loop>
        <source src="../../../../../assets/hexabackground.webm"
                type="video/webm">
      </video>

    </div>

    <section class="col-lg-12 d-flex justify-content-center">
        <div class="titles">
            <h1 class="smooth-type">Welcome to Intelligent security IT</h1>
            <h2 class="smooth-type text-center">Your Security ,Our Priority</h2>
        </div>
    </section>

</main>




<app-about></app-about>
<app-services></app-services>
<app-category></app-category>
<app-motfoundateur></app-motfoundateur>
<app-contact></app-contact>
