<div id="formations">
    <main class="divbg">
        <section class="mt-5 align-items-center justify-content-center">
            <h1 class="mt-5">Nos Formations</h1>
            <div class="container  full-container justify-content-center">
                <div class="col-lg-4 hexagon  align-items-center justify-content-center" *ngFor="let e of Category">
                    <a routerLink="/Category/{{e.name}}">
                        <div class="hexagon-shape">
                            <img src={{e.Image}} class="d-block w-100" alt="...">
                            <div class="content">
                                <h2>{{e.name}}</h2>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
</div>
