i {
    font-size: 20px;
    z-index: 4;
    color: #dc3545;
    background-size: 10px 10px;
    background-position: center;
    position: relative;
}

a {
    cursor: pointer;
}

div.images {
    width: 150px;
}

img {
    z-index: 1;
}