<div class="container mt-5 mb-5">
    <h1 class="text-center mt-5">Nos Offres</h1>
    <div class="alert alert-danger" *ngIf="Offres?.length===0">
        <h2 class="text-center">Aucune offre pour le moment</h2>
    </div>
    <div class="row" *ngFor="let e of Offres">
        <a href="Offres/{{e._id}}">
            <div class=" card shadow">
                <div class="go-corner" href="#">
                    <div class="go-arrow">
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>

                <div class="card-body ">
                    <h2 class="card-title ">{{e.Type}}</h2>
                    <h3 class="card-title ">{{e.name}}</h3>
                    <p>{{e.Description}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
