<div class="m-3">
    <h1 class="text-center">Offres</h1>
    <div class="container">
        <div class="alert alert-danger" *ngIf="Offres.length===0">
            <h2 class="text-center">Aucune offre pour le moment</h2>
        </div>
        <div class="blog-card" *ngFor="let e of Offres | paginate: { itemsPerPage: 5, currentPage: p } ;index as i  ">
            <div class="description m-2">
                <h2>{{e.Type}}</h2>
                <div class="d-flex justify-content-between">
                    <div>
                        <h3>Nom d'offre: {{e.name}}</h3>
                        <p> Description générale : {{e.Description}}</p>
                    </div>
                    <div class="float-end pb-5 details">
                        <h3>Postes : {{e.Postes}}</h3>
                        <h3>Niveau d'éducation : {{e.Niveau}}</h3>
                    </div>
                </div>
                <div class="read-more">
                    <a href="Offres/{{e._id}}">Postuler </a>
                </div>
            </div>
        </div>
        <ngb-pagination *ngIf="Offres.length>5" class="d-flex justify-content-center" [(page)]="p" [pageSize]="5" [collectionSize]="Offres?.length"></ngb-pagination>
    </div>
</div>